body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #000000 0%, /* Red starts at 0% */
    #852f0d 25%, /* Red ends at 25% */
    #e47f20 35%, /* Blue starts at 25% */
    #ffe816 50%, /* Blue ends at 50% */
    #ffe816 60%, /* Green starts at 50% */
    #e47f20 75%, /* Green ends at 75% */
    #852f0d 85%, /* Yellow starts at 75% */
    #000000 100% /* Yellow ends at 100% */
  );
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(0, 0, 0);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(161, 217, 224);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(11, 61, 74);
}

h2{
  color: rgb(11, 61, 74);
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}


p{
  color: rgb(96, 118, 157)

}

img {
  width: 400px;
}